.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
.text {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: monospace;
  font-weight: 700;
}
.special {
  margin-left: 300px;
}
